.about-us {
	padding: 112px 0px 217px 0px;
	@include mediaMax($lg) {
		padding: 56px 0;
	}

	@include mediaMax($md) {
		padding: 56px 0 20px 0;
	}
	.container {
		position: relative;
	}

	&__container {
	}

	&__content {
	}

	&__text {
	}

	&__img-group {
		display: inline-block;
		position: absolute;
		bottom: -400px;
		left: -20px;
		z-index: -1;
		width: 100%;
		height: 100%;
		@include mediaMax($lg) {
			bottom: -200px;
		}
		@include mediaMax($md) {
			bottom: -300px;
		}
		img {
			&:nth-child(1) {
				position: absolute;
				top: -405px;
				left: 76px;
				&._anim-show {
					transform: translate(0, -160%);
					transition: all 2.8s ease;
				}
				@include mediaMax($lg) {
					top: -200px;
					&._anim-show {
						transform: translate(0, -20%);
						transition: all 2.8s ease;
					}
				}
				@include mediaMax($md) {
					top: -305px;
					left: 10px;
				}
			}
			&:nth-child(2) {
				position: absolute;
				top: -484px;
				right: 80px;
				&._anim-show {
					transform: translate(0, -45%);
					transition: all 1.8s ease;
					@include mediaMax($lg) {
						display: none;
					}
				}
			}
			&:nth-child(3) {
				position: absolute;
				bottom: -195px;
				right: 205px;
				&._anim-show {
					transform: translate(0, -150%);

					transition: all 2.5s ease;
				}
				@include mediaMax($lg) {
					bottom: 133px;
					right: 20px;
					&._anim-show {
						transform: translate(0, -100%);

						transition: all 2.5s ease;
					}
				}

				@include mediaMax($md) {
					right: -40px;
				}
			}
			&:nth-child(4) {
				display: none;
			}
			&:nth-child(5) {
				&._anim-show {
					transform: translate(0, -100%);
					transition: all 2s ease;
				}
			}
			&:nth-child(6) {
				min-width: 480px;
				min-height: 480px;
				position: absolute;
				bottom: -300px;
				right: -305px;
				&._anim-show {
					transform: translate(0, -20%);
					transition: all 2.8s ease;
				}
				@include mediaMax($lg) {
					display: none;
				}
			}
		}
		// &:after {
		// 	content: "";
		// 	position: absolute;
		// 	top: 0px;
		// 	left: -93%;
		// 	background-color: $color-white;
		// 	width: 1000px;
		// 	height: 100%;
		// }
	}
}
