.audence {
	&__container {
	}

	&__title {
	}

	&__list {
		@include list-reset();
		margin: 0 -28px;
	}

	&__item {
		padding: 0 28px;
		position: relative;
		p {
			position: relative;
			z-index: 2;
			transition: all 0.3s ease;
		}
		&:first-child {
			&:after {
				content: "";
				width: 160px;
				height: 160px;
				position: absolute;
				top: -30px;
				left: -30px;
				background: url("img/audence-circle.svg") 0 0 no-repeat;
				transition: all 0.3s ease;
			}
		}
		&:last-child {
			&:after {
				content: "";
				width: 160px;
				height: 160px;
				position: absolute;
				bottom: -30px;
				left: 135px;
				background: url("img/audence-circle.svg") 0 0 no-repeat;
				transition: all 0.3s ease;
			}
		}
		&:hover {
			.text-bold {
				font-size: 31px;
			}
			&:after,
			&:before {
				width: 320px;
				height: 320px;
				background: url("img/audence-hover.svg") 0 0 no-repeat;
			}
		}
	}
}

.btn-added {
	display: none;
}
