.chapter-banner {
	background: $color-mint;
	position: relative;
	.container {
		&:first-child {
			position: relative;
		}
		&:last-child {
			max-width: 1400px;
			background: url("img/chapter-bg.svg") 100% 50% no-repeat;
			@include mediaMax($lg) {
				background: none;
			}
		}
	}
	&__img-group {
		display: inline-block;
		position: absolute;
		top: 90px;
		left: 100px;
		@include mediaMax($lg) {
			top: 30px;
			right: 100px;
		}
		img {
			&:nth-child(1) {
				max-width: 34px;
				max-height: 34px;
				&._anim-show {
					transform: translate(0, -90%);
					transition: all 1.2s ease;
				}
			}
			&:nth-child(3) {
				min-width: 90px;
				min-height: 90px;
				position: absolute;
				bottom: -145px;
				right: 5px;
				&._anim-show {
					transform: translate(0, -50%);

					transition: all 2.5s ease;
				}
				@include mediaMax($lg) {
					bottom: -220px;
					&._anim-show {
						transform: translate(0, -20%);

						transition: all 2.5s ease;
					}
				}
				@include mediaMax($md) {
					bottom: -220px;
					right: -150px;
				}
				@include mediaMax($sm) {
					display: none;
				}
			}
		}
	}
	&__content {
		position: relative;
		z-index: 2;
		padding: 140px 0px 23px 0px;
		height: 100%;

		@include mediaMax($lg) {
			padding: 100px 0px 23px 0px;
		}
	}
	&__text {
		color: $color-white;
	}
	h1,
	p {
		color: $color-white;
		position: relative;
		z-index: 2;
	}
}
