.positions {
	background-color: $color-grey-4;
	h2 {
		@include mediaMax($lg) {
			margin: 0px 0px 100px 0px;
		}
		@include mediaMax($md) {
			margin: 0px 0px 150px 0px;
		}
	}
	&__filter {
		ul {
			@include list-reset();
		}
	}

	aside {
		margin: 110px 60px 0px -60px;
		@include mediaMax($lg) {
			margin: 110px 60px 0px 0px;
			position: absolute;
			top: -20px;
			left: 20px;
		}
		@include mediaMax($md) {
			top: -30px;
		}
	}

	&__container {
		@include mediaMax($lg) {
			position: relative;
		}
	}

	&__content {
	}

	&__title {
	}

	&__items {
	}

	&__item {
		border-bottom: 2px solid $color-grey-2;
		padding: 0px 0px 30px 0px;
		margin: 0px 0px 21px 0px;
	}

	&__item-top {
		padding: 6px 0px 0px 0;
		position: relative;
		&.active {
			svg {
				transform: translate(-50%, -150%) rotate(180deg);
			}
		}
		.subscribe__button {
			&:hover {
				cursor: pointer;
			}
		}
		svg {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -123%);
		}
		&:hover {
			cursor: pointer;
		}
	}

	&__item-body {
		display: none;
		overflow: hidden;
		height: auto;
		will-change: height;
		-webkit-transform: translate3d(0, 0, 0);
	}

	&__item-title {
		padding: 28px 0px 0px 0px;
	}

	&__item-text {
	}
}
.filter-links {
	&__item {
	}

	&__input {
		display: none;
		&:checked ~ .filter-links__label {
			color: $color-mint;
			text-decoration: underline;
		}
	}

	&__label {
		transition: all 0.3s ease;
		color: $color-grey-1;
		margin: 0px 0px 8px 0px;
		font-size: 15 / 16 * 1rem;
		&:hover {
			cursor: pointer;
			color: $color-mint;
			text-decoration: underline;
		}
		@include mediaMax($lg) {
			margin: 0px 10px 0px 0px;
			white-space: nowrap;
		}
	}
}

.filter-title {
	font-size: 15 / 16 * 1rem;
	@include mediaMax($lg) {
		margin: -6px 15px 6px 0px;
	}
}
