.proud {
	position: relative;
	z-index: 2;
	.container {
		position: relative;
	}
	&__content {
		position: relative;
		z-index: 2;
	}
	&__img-group {
		display: inline-block;
		position: absolute;
		top: -350px;
		left: -630px;
		width: 100%;
		height: 100%;
		@include mediaMax($lg) {
			top: -350px;
		}
		@include mediaMax($sm) {
			display: none;
		}
		img {
			&:nth-child(1) {
				width: 138px;
				height: 138px;
				position: absolute;
				bottom: -505px;
				right: -706px;
				&._anim-show {
					transform: translate(0, -60%);
					transition: all 2.8s ease;
				}
			}
			&:nth-child(2) {
				width: 16px;
				height: 16px;
				position: absolute;
				bottom: -600px;
				right: -600px;
				&._anim-show {
					transform: translate(0, -450%);
					transition: all 3.2s ease;
				}
			}
			&:nth-child(3) {
				min-width: 48px;
				min-height: 48px;
				position: absolute;
				bottom: -520px;
				right: -500px;
				&._anim-show {
					transform: translate(0, -200%);
					transition: all 2.8s ease;
				}
			}
			&:nth-child(4) {
				position: absolute;
				bottom: -700px;
				right: -500px;
				&._anim-show {
					transform: translate(0, -80%);
					transition: all 1.8s ease;
				}
			}
			&:nth-child(5) {
				opacity: 0.4;
				&._anim-show {
					transform: translate(0, -9%);
					transition: all 2s ease;
					opacity: 0.4 !important;
				}
				@include mediaMax($lg) {
					display: none;
				}
			}
			&:nth-child(6) {
				width: 400px;
				height: 400px;
				position: absolute;
				bottom: -940px;
				left: 445px;
				&._anim-show {
					transform: translate(0, -50%);
					transition: all 2s ease;
				}
				@include mediaMax($xl) {
					display: none;
				}
			}
			&:nth-child(7) {
				width: 48px;
				height: 48px;
				position: absolute;
				bottom: -130px;
				right: 85px;
				&._anim-show {
					transform: translate(0, -200%);
					transition: all 3s ease;
				}
			}
			&:nth-child(8) {
				width: 48px;
				height: 48px;
				position: absolute;
				bottom: -300px;
				left: 100px;
				&._anim-show {
					transform: translate(0, -260%);
					transition: all 2.2s ease;
				}
			}
		}
	}
}
