.register {
	.form-main__label {
		margin: 0 28px 4px 28px;
		@include mediaMax($md) {
			width: auto;
			margin: 0;
		}
	}
}

.form-main {
	&__label {
	}

	&__input {
	}

	&__top {
	}

	&__body {
	}
}
