.vision {
	padding: 120px 0px 217px 0px;
	position: relative;
	@include mediaMax($lg) {
		padding: 110px 0px 56px 0;
	}
	&__container {
		height: 100%;
		position: relative;
	}
	&__content {
		padding: 0px 0px 92px 0px;
	}
	&__img-group {
		display: inline-block;
		position: absolute;
		bottom: 400px;
		left: -20px;
		z-index: -1;
		width: 100%;
		height: 100%;
		@include mediaMax($lg) {
			bottom: -200px;
		}
		@include mediaMax($md) {
			bottom: -300px;
		}
		img {
			&:nth-child(1) {
				position: absolute;
				top: 480px;
				left: 1060px;

				&._anim-show {
					transform: translate(0, -100%);
					transition: all 3s ease;
				}
				@include mediaMax($lg) {
					top: -200px;
					&._anim-show {
						transform: translate(0, -20%);
						transition: all 2.8s ease;
					}
				}
				@include mediaMax($md) {
					top: -305px;
					left: 300px;
				}
			}
			&:nth-child(2) {
				position: absolute;
				top: 600px;
				right: 861px;
				&._anim-show {
					transform: translate(0, -100%);
					transition: all 1.8s ease;
				}
				@include mediaMax(2000px) {
					top: 600px;
					right: 86px;
				}
				@include mediaMax($lg) {
					top: 10px;
					right: 86px;
				}
			}
			&:nth-child(3) {
				position: absolute;
				bottom: 32px;
				right: 540px;
				&._anim-show {
					transform: translate(0, -30%);

					transition: all 5s ease;
				}
				@include mediaMax(2000px) {
					display: none;
				}
			}
			&:nth-child(4) {
				position: absolute;
				bottom: 150px;
				right: 1005px;
				&._anim-show {
					transform: translate(0, -250%);
					transition: all 3.2s ease;
				}
			}
			&:nth-child(5) {
				&._anim-show {
					transform: translate(0, -100%);
					transition: all 2s ease;
				}
			}
			&:nth-child(6) {
				min-width: 96px;
				min-height: 96px;
				position: absolute;
				bottom: 30px;
				left: 605px;
				&._anim-show {
					transform: translate(0, -200%);
					transition: all 3.8s ease;
				}
				@include mediaMax(2000px) {
					top: 1000px;
					left: 86px;
				}
				@include mediaMax($lg) {
					top: 200px;
					left: 86px;
				}
			}
			&:nth-child(7) {
				position: absolute;
				bottom: 80px;
				left: 1005px;
				&._anim-show {
					transform: translate(0, -200%);
					transition: all 4s ease;
				}
				@include mediaMax($lg) {
					display: none;
				}
			}
		}
		// &:after {
		// 	content: "";
		// 	position: absolute;
		// 	top: 0px;
		// 	left: -93%;
		// 	background-color: $color-white;
		// 	width: 1000px;
		// 	height: 100%;
		// }
	}
}
